# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=e0b00baa-5e19-4bee-9994-5270d2b5e046

    # Set to true to disable all reporting
    B:opt-out=false
}


